.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  z-index: 5;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.header input {
  background-color: #2c2c2c;
  border: 1px solid #444;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  width: 200px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-filter.selected {
  outline: 3px solid #fff;
  transform: scale(1.05);
}

.bigcard-open .header {
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}